<!doctype html>
<html lang="fr">
	<head>
        <link rel="stylesheet" type="text/css" href="http://clarifygdps.com/mastermind/templates/styles.css"/>
		<meta charset="utf-8">
		<title>Tetris</title>
	</head>
	<body style="background-color: darkgrey;">
        <h1 style="font-size: 35px;">Bienvenue sur Tetris!</h1>
        <ul style="font-size: 27px; text-align:center;">
            <li><a href= "../connexion" target = "_self">Connexion</a></li>
            <li><a href = "../inscription/" target = "_self">Inscription</a></li>
            <li><a href = "../leaderboard/" target = "_self">Classement Marathon</a></li>
        </ul>
	</body>
</html>